.not-found-image {
  background-image: url("assets/mulyadi-ZnLprInKM7s-unsplash.jpg");
  background-color: gray;
  height: 1000px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
